@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

* {
  text-decoration: none;
  list-style: none;
  font-family: "Coming Soon", sans-serif;
  background-color: cornflowerblue;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
}

.indexList {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.titleDetalle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.pokemonDetail {
  margin-block: 100px;
  display: grid;
  justify-content: center;
}

.botones {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.listaPokemon{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px;
  border: 1px solid black;
  
}

.link{
  text-decoration: none;
}

.pokemonList{
  display: flex;
  justify-content: center;

}

.pokemonImg{
  height: 300px;
  width: 300px;
  
}

.newPokemon{

  display: flex;
  gap: 50px;
}
.newPokemon span{
  display: flex;
  gap: 15px;
}
.home{
  display: flex;
  
}

.contenedorDetalle{
  display: flex;
  justify-content: center;
 
}
.formularioNew{
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.input{
  display: flex;
}